{/* Features hidden compartment */}
                            <div className={`${navToggleF ? 'absolute' : 'hidden'} py-[15px] px-[25px] leading-[2rem] left-[90px] top-[40px] shadow-2xl rounded-md outline-none border-none`}>
    
                                {/* Features-Todo */}
                                <div className='flex justify-start items-center'>
                                    <img src={todo} className='w-[15px] h-[15px] mr-[10px]' />
                                    <p className='hover:text-ABlack hover:font-bold'>
                                        <a href='#'>Todo List</a>
                                    </p>
                                </div>

                                {/* Features-Calender */}
                                <div className='flex justify-start items-center'>
                                    <img src={calender} className='w-[15px] h-[15px] mr-[10px]'/>
                                    <p className='hover:text-ABlack hover:font-bold'><a href='#'>Calender</a></p>
                                </div>

                                {/* Features-Reminders */}
                                <div className='flex justify-start items-center'>
                                    <img src={reminders} className='w-[15px] h-[15px] mr-[10px]' />
                                    <p className='hover:text-ABlack hover:font-bold'><a href='#'>Reminders</a></p>
                                </div>

                                {/* Features-Planning */}
                                <div className='flex justify-start items-center'>
                                    <img src={planning} className='w-[15px] h-[15px] mr-[10px]' />
                                    <p className='hover:text-ABlack hover:font-bold'><a href='#'>Planning</a></p>
                                </div>
                            </div>



                            {/* Company hidden compartment */}
                            <div className={`${navToggleC ? 'absolute' : 'hidden'} py-[15px] px-[25px] leading-[2rem] left-[290px] top-[40px] shadow-2xl rounded-md outline-none border-none`}>
                                <p className='hover:text-ABlack hover:font-bold'><a href='#'>Histrory</a></p>
                                <p className='hover:text-ABlack hover:font-bold'><a href='#'>Our Team</a></p>
                                <p className='hover:text-ABlack hover:font-bold'><a href='#'>Blog</a></p>
                            </div>